/*微信二维码展示*/
.wechat-icon {
    position: relative; /* 使二维码相对于微信图标定位 */
}

.qr-code {
    position: absolute;
    top: 100%; /* 放在图标正下方 */
    left: 50%;
    transform: translateX(-50%);
    display: none; /* 初始隐藏 */
    background-color: #fff; /* 背景色 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.qr-code img {
    width: 180px; /* 二维码宽度 */
    height: 240px; /* 二维码高度 */
}

.wechat-icon:hover .qr-code {
    display: block; /* 鼠标悬停时显示二维码 */
}
